#about {
    display: flex;
    flex-direction: column;
}

#team {
    width: 90%;
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.card {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #0B6DD8;
    transition: all 0.3s ease 0s;
    background-image: linear-gradient(to bottom, #0B6DD8, #00CBCA);
}

.card:hover {
    transform: translateY(-5px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

.image {
    height: 75%;
    width: 75%;
}

.social {
    display: flex;
    justify-content: center;
    filter: invert(100%);
}

#git {
    margin: 15px 3px 2px 3px;
    max-height: 25px;
}

#linkedin {
    margin: 15px 3px 2px 3px;
    max-height: 25px;
}

.card-name {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.card-function {
    color: white;
    font-size: small;
    text-align: center;
    margin: 0;
}