@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100vh;
    font-family: "Inter", "Source Sans Pro", 'Times New Roman';
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #F2E9E4;
}

header .container-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #0B6DD8, #00CBCA);
    height: 10vh;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #F2E9E4;
    font-size: 1rem;
    font-weight: 700;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* MAIN */
main {
    min-height: 80vh;
    width: 70vw;
    margin: 5vh 15vw;
    align-items: center;
    justify-content: center;
}

#about {
    min-height: 30vh;
    margin: 20px;
}

#team {
    width: 90%;
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.content {
    margin: 20px 10px;
}

.card-name .card-function {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #9A8C98;
}

.image {
    height: 120px;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 10%;
    left: 18%;
    height: 100px;
    width: 100px;
}

.social {
    display: flex;
    justify-content: center;
}

#git {
    margin: 15px 3px 2px 3px;
    max-height: 25px;
}

#linkedin {
    margin: 15px 3px 2px 3px;
    max-height: 25px;
}

/* FOOTER */
footer {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0B6DD8, #00CBCA);
}

footer p {
    font-weight: 600;
    color: #F2E9E4;
}